<div class="listing">
    <div class="listing-header">
        yah yah yah
    </div>
    <div class="listing-holder">
        <table class="table table-bordered table-striped table-vcenter">
            <thead>
                <th>First Column</th>
                <th>First Column</th>
                <th>First Column</th>
                <th>First Column</th>
                <th>First Column</th>
                <th>First Column</th>
                <th>First Column</th>
            </thead>
            <tbody>
                <tr>
                    <td>First Column</td>
                    <td>First Column</td>
                    <td>First Column</td>
                    <td>First Column</td>
                    <td>First Column</td>
                    <td>First Column</td>
                    <td>First Column</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="listing-footer">
        I am footer
    </div>
</div>